body, html
{
  	font-family: Arial, sans-serif;
  	overflow-x: hidden; 
    overflow-y: hidden;
}

h1 
{
  	text-align: center;
  	font-family: Tahoma, Arial, sans-serif;
  	color: #4d4d4d;
  	margin: 10px 0;
}

h2	/* h2 will be the size of h3 */
{
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

a
{
	color: #4d4d4d !important;
}

/* This is where I got stuck on. I couldn't figure out how to call the icons.  */
#button
{
	position: absolute;
	bottom: 5%;
	right: 5%;
	font-size: 1em;
	padding: 10px;
	color: #fff;
	border: 2px solid #989898;
	border-radius: 16px;
	text-decoration: none;
  	cursor: pointer;
  	transition: all 0.3s ease-out;
}

#button:hover
{
	background: #F0F0F0;
	background-image: -webkit-linear-gradient(top, #dfe4e6, #c9ced1);
}

.overlay 
{
	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target 
{
	//transition: opacity 200ms;
 	visibility: visible;
  	opacity: 1;
}

.popup
{
  	margin: 70px auto;
  	padding: 5px;
  	background: #fff;
  	border-radius: 21px;
  	width: 30%;
  	position: relative;
  	transition: all 5s ease-in-out;
  
}

.popup h2
{
  	margin-top: 0;	/* change to 'inherit' if you don't like how it currently looks */
  	color: #4d4d4d;
  	font-family: Tahoma, Arial, sans-serif;
}

.popup .close
{
  	position: absolute;
  	top: 20px;
  	right: 30px;
  	transition: all 200ms;
  	font-size: 30px;
  	font-weight: bold;
  	text-decoration: none;
  	color: #333;
}

.popup .close:hover 
{
  	color: #4d4d4d;
}

.popup .content 
{
  	max-height: 30%;
  	overflow: auto;
}

@media screen and (max-width: 500px)
{
  .popup
  {
    width: 50%;
  }
}